<div
    class="border-2 p-4 border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex flex-col justify-center items-center font-medium"
>
    <h5>Configura los precios por unidad y las cantidades de los productos.</h5>
    <p-table
        #table
        [value]="this.sstore.order().details"
        dataKey="id"
        editMode="row"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['productName', 'productPrice', 'description', 'quantity']"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template #caption>
            <div class="flex">
                <p-button label="Borrar filtro" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(table)" />
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="table.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar en tabla ..." />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="productName">Código <p-sortIcon field="productName" /></th>
                <th pSortableColumn="productPrice" class="text-right">Precio <p-sortIcon field="productPrice" /></th>
                <th pSortableColumn="quantity" class="text-center">Cantidad <p-sortIcon field="quantity" /></th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="product">
                <!-- Código -->
                <td>
                    {{ product.productName }}
                </td>

                <!-- Precio -->
                <td class="text-right">
                    <p-cellEditor>
                        <ng-template #input>
                            <p-inputnumber [(ngModel)]="product.productPrice" inputId="currency-us" mode="currency" currency="USD" locale="de-DE" />
                        </ng-template>
                        <ng-template #output>
                            {{ product.productPrice | currency: '$ ' }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <!-- Stock -->
                <td class="text-center">
                    <p-cellEditor>
                        <ng-template #input>
                            <p-inputnumber [(ngModel)]="product.quantity" id="initialUnits" inputId="minmax" mode="decimal" [min]="0" [max]="100" />
                        </ng-template>
                        <ng-template #output>
                            {{ product.quantity }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <!-- Estado -->
                <td class="text-center">
                    <p-tag [value]="getLabelStock(product)" [severity]="getSeverity(product)" styleClass="dark:!bg-surface-900" />
                </td>

                <!-- Botones -->
                <td class="text-center">
                    <div class="flex justify-center gap-2">
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-pencil"
                            pInitEditableRow
                            (click)="onRowEditInit(product)"
                            class="p-button-rounded p-button-text"
                            pTooltip="Editar Producto"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-check"
                            pSaveEditableRow
                            (click)="onRowEditSave(product)"
                            class="p-button-rounded p-button-text"
                            pTooltip="Guardar"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-times"
                            pCancelEditableRow
                            (click)="onRowEditCancel(product, ri)"
                            class="p-button-rounded p-button-text"
                            pTooltip="Cancelar"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="flex pt-6 justify-start">
    <div class="flex mt-2 mb-6 pt-6 justify-between w-full">
        <p-button label="Atrás" severity="secondary" icon="pi pi-arrow-left" (onClick)="actCallback(2)" [disabled]="!sstore.stepOneOk()" />
        <p-button label="Finalizar" icon="pi pi-bolt" severity="info" iconPos="right" (onClick)="actCallback(4)" [disabled]="!sstore.stepOneOk()" />
    </div>
</div>
