.card {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    padding-top: 0;
}

.header-fixed {
    position: sticky;
    top: 0;
    background-color: var(--surface-card);
    z-index: 1;
    padding: 10px;
    transform: translateY(-6px);
}

@media screen and (max-width: 540px) {
    #botonCrear {
        display: none;
    }

    .header-fixed {
        justify-content: center !important;
    }
}
